// COLORS

$color-primary: #171717;
$color-secondary: #444444;
$color-third: #da0037;
$color-fourth: #ededed;

$color-white: #fff;

// FONT

$base-font: 16px;
$scale: 1.333;
$base-weight: 400;

$t6: $base-font / $scale;
$t7: $t6 / $scale;

$t5: $t6 * $scale;
$t4: $t5 * $scale;
$t3: $t4 * $scale;
$t2: $t3 * $scale;
$t1: $t2 * $scale;

@media screen and (min-width: 640px) {
    $t7: $base-font / $scale;
    $t6: $base-font;
    $t5: $t6 * $scale;
    $t4: $t5 * $scale;
    $t3: $t4 * $scale;
    $t2: $t3 * $scale;
    $t1: $t2 * $scale;
}
