@-webkit-keyframes fadeinleft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2rem * 2);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeinleft {
    0% {
        opacity: 0;
        transform: translateX(-2rem * 2);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeinleft {
    animation: fadeinleft ease-in-out 0.6s;
}
