@-webkit-keyframes lightSpeedIn {
    0% {
        -webkit-transform: translateX(100%) skewX(-10deg);
        opacity: 0;
    }
    60% {
        -webkit-transform: translateX(-20%) skewX(10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: translateX(0%) skewX(-10deg / 2);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(0%) skewX(0deg);
        opacity: 1;
    }
}

@keyframes lightSpeedIn {
    0% {
        transform: translateX(100%) skewX(-10deg);
        opacity: 0;
    }
    60% {
        transform: translateX(-20%) skewX(10deg);
        opacity: 1;
    }
    80% {
        transform: translateX(0%) skewX(-10deg / 2);
        opacity: 1;
    }
    100% {
        transform: translateX(0%) skewX(0deg);
        opacity: 1;
    }
}

.lightspeedin {
    animation: lightSpeedIn ease-in-out 1s;
}
