<div class="carousel-full-down">
    <!-- Inputs-->
    <input type="radio" name="item" checked="checked" id="section1"/>
    <input type="radio" name="item" id="section2"/>
    <input type="radio" name="item" id="section3"/>
    <input type="radio" name="item" id="section4"/>
    <!-- Navigation-->
    <nav class="nav">
    <label class="nav__item" for="section1"></label>
    <label class="nav__item" for="section2"></label>
    <label class="nav__item" for="section3"></label>
    <label class="nav__item" for="section4"></label>
    </nav>
    <!-- Sections-->
    <section>
    <h1>One Page</h1>
    </section>
    <section>
    <h1>Pure CSS</h1>
    </section>
    <section>
    <h1>Full Screen</h1>
    </section>
    <section>
    <h1>@Ver_Qn</h1>
    </section>
    <!-- Fix the white space when scrolling two sections at the time-->
    <div class="cover"></div>
</div>