@import "abstracts/_variables";

.progress__svg {
    transform: rotate(-90deg);
}

.progress__meter,
.progress__value {
    fill: none;
}

.progress__meter {
    stroke: $color-font;
}

.progress__value {
    stroke: $color-primary;
    transition: all;
}
