#p1 {
    left: 0;
}

#p2, #p3, #p4, #p5 {
    left: 200%;
}

#p1 { background: var(--color-primary); }
#p2 { background: var(--color-secondary) }
#p3 { background: var(--color-third); }
#p4 { background: var(--color-fourth); }
#p5 { background: rebeccapurple; }

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
    transform: translateX(-190%);
    -webkit-transform: translateX(-190%);
    -moz-transform: translateX(-190%);
    -o-transform: translateX(-190%);
    transition-delay: .4s;
}

#t2:target #p1, 
#t3:target #p1,
#t4:target #p1,
#t5:target #p1{
    background: var(--dark);
}

#t2:target #p1 .icon, 
#t3:target #p1 .icon,
#t4:target #p1 .icon,
#t5:target #p1 .icon {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.icon {
    color: var(--white);
    font-size: 32px;
    display: block;
}

ul .icon:hover {
    opacity: 0.5;
}

.page .icon .title {
    line-height: 2;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon{
    transform: scale(.6);
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -o-transform: scale(.6);
    transition-delay: .25s;
}

#t2:target #dos,
#t3:target #tres,
#t4:target #cuatro,
#t4:target #cinco {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

ul {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 280px;
    width: 10%;
    padding: 0;
    text-align: center;
}

#menu .icon {
    margin: 30px 0;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}

a {
    text-decoration: none;
}

.title, .hint {
    display: block;
}

.title {
    font-size: 38px;
}

.hint {
    // font-size: 13px;
    font-size: 27px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 88%;
    line-height: 1.3;
    text-align: end;
    background: linear-gradient(to right, var(--color-primary) 0%, var(--color-secondary) 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#p4 .hint {
    display: inherit;
}

.hint a {
    color: var(--color-fourth);
    transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
}

.hint a:hover {
    color: #FFF;
}

.line-trough {
    text-decoration: line-through;
}

.page .icon {
    background: var(--color-third);
    padding: 3rem;
    transform: translateX(360%);
    -webkit-transform: translateX(360%);
    -moz-transform: translateX(360%);
    -o-transform: translateX(360%);
    transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
    -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .icon {
    height: 220px;
}

.page#p1 .icon {
    transform: translateX(10%);
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transition-delay: 1s;
}

