<div class="full-container">
    <nav class="menu-icons">
        <ul class="menu-icons__list">
            <li class="menu-icons__element">
                <a class="menu-icons__link">
                    <i class="icon fa fa-bolt"></i>
                </a>
            </li>
            <li class="menu-icons__element">
                <a class="menu-icons__link">
                    <i class="icon fas fa-keyboard"></i>
                </a>
            </li>
            <li class="menu-icons__element">
                <a class="menu-icons__link">
                    <i class="icon fa fa-rocket"></i>
                </a>
            </li>
            <li class="menu-icons__element">
                <a class="menu-icons__link">
                    <i class="icon fab fa-dribbble"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
