<div class="full-container">
    <nav class="menu-icons">
        <ul class="menu-icons__list">
            <li class="menu-icons__element">
                <a
                    [routerLink]="['/']"
                    routerLinkActive="router-link-active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="menu-icons__link"
                >
                    <i class="fa fa-bolt"></i>
                </a>
            </li>
            <li class="menu-icons__element">
                <a
                    [routerLink]="['/works']"
                    routerLinkActive="router-link-active"
                    class="menu-icons__link"
                >
                    <i class="fas fa-keyboard"></i>
                </a>
            </li>
            <li class="menu-icons__element">
                <a
                    [routerLink]="['/cv']"
                    routerLinkActive="router-link-active"
                    class="menu-icons__link"
                >
                    <i class="fa fa-rocket"></i>
                </a>
            </li>
            <li class="menu-icons__element">
                <a
                    [routerLink]="['/team']"
                    routerLinkActive="router-link-active"
                    class="menu-icons__link"
                >
                    <i class="fab fa-dribbble"></i>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <pages></pages>
    </main>
</div>
