@import "abstracts/_variables";

.full-container {
    width: 100%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    // transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
}

.menu-icons {
    width: 9rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
}

.menu-icons__list {
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-icons__element {
    cursor: pointer;
    transition: transform 0.5s;
}

.menu-icons__element:hover {
    transform: translateY(-0.3rem);
}

.menu-icons__element:hover i {
    color: $color-third;
}

.menu-icons__link i {
    color: $color-white;
    font-size: $t4;
}

.router-link-active i {
    color: $color-third;
}

main {
    width: calc(100% - 9rem);
    max-height: 100vh;
    background: $color-primary;
}
