a {
    text-decoration: none;
    color: var(--gray);
    display: block;
    transition-duration: 0.3s;
}

h3 {
    color: var(--color-secondary);
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
}

@keyframes circle {
    from {
        box-shadow: 0 0 0 0px var(--color-secondary);
    }
    to {
        box-shadow: 0 0 0 6px rgba(61, 64, 91, 0);
    }
}

.resume {
    width: 90vw;
    margin: 20px auto;
    display: flex;
    overflow-y: scroll;
    height: 600px;
}

.resume .func {
    width: 645px;
    padding: 30px 25px;
}
.resume .func:hover > div {
    transition-duration: 0.3s;
}

.resume .func:hover > div:hover h3, .resume .right:hover > div:hover h3 {
    letter-spacing: 1.6px;
}
.resume .func:hover > div:hover h3 i, .resume .right:hover > div:hover h3 i {
    transform: scale(1.2);
}

.resume .func:hover > div:not(:hover) {
    opacity: 0.5;
}

// .resume .func h3 {
//     transition-duration: 0.3s;
//     margin-top: 0;
// }

// .resume .func h3 i {
//     color: var(--white);
//     background: var(--color-fourth);
//     width: 42px;
//     height: 42px;
//     font-size: 20px;
//     line-height: 42px;
//     border-radius: 50%;
//     text-align: center;
//     vertical-align: middle;
//     margin-right: 8px;
//     transition-duration: 0.3s;
// }

.resume .func .work, .resume .func .edu {
    float: left;
}
.resume .func .work small, .resume .func .edu small {
    display: block;
    opacity: 0.7;
}
.resume .func .work ul li, .resume .func .edu ul li {
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}
.resume .func .work ul li:hover::before, .resume .func .edu ul li:hover::before {
    animation: circle 1.2s infinite;
}

.resume .func .work ul li:hover span, .resume .func .edu ul li:hover span {
    color: var(--color-fourth);
}

.resume .func .work ul li:first-of-type::before, .resume .func .edu ul li:first-of-type::before {
    width: 10px;
    height: 10px;
    left: -2px;
}
.resume .func .work ul li:last-of-type, .resume .func .edu ul li:last-of-type {
    padding-bottom: 3px;
}
.resume .func .work ul li:last-of-type::after, .resume .func .edu ul li:last-of-type::after {
    border-radius: 1.5px;
}
.resume .func .work ul li::before, .resume .func .work ul li::after, .resume .func .edu ul li::before, .resume .func .edu ul li::after {
    content: "";
    display: block;
    position: absolute;
}
.resume .func .work ul li::before, .resume .func .edu ul li::before {
    width: 7px;
    height: 7px;
    border: 3px solid var(--color-secondary);
    background: var(--white);
    border-radius: 50%;
    left: 0;
    z-index: 1;
}
.resume .func .work ul li::after, .resume .func .edu ul li::after {
    width: 3px;
    height: 100%;
    background: var(--color-fourth);
    left: 5px;
    top: 0;
}
.resume .func .work ul li span, .resume .func .edu ul li span {
    transition-duration: 0.3s;
}
.resume .func .work {
    width: 42%;
}
.resume .func .edu {
    width: 58%;
}

// intereses
.interests-items {
    padding: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.interests-items div {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.interests-items div:hover i {
    transform: scale(1.2);
}
.interests-items div:hover span {
    color: #e07a5f;
    transition-duration: 0.3s;
}
.interests-items div i {
    font-size: 45px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #8d9e78;
    transition-duration: 0.3s;
}
.interests-items div i.guitar {
    display: block;
    margin: 0 auto;
}
.interests-items div i.guitar svg {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    fill: #8d9e78;
}
.interests-items div span {
    display: block;
}




// h3

h3 {
    transition-duration: 0.3s;
    margin-top: 0;
}

h3 i {
    color: var(--white);
    background: var(--color-fourth);
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
    transition-duration: 0.3s;
}

.right{
    display: flex;
    flex-flow: column wrap;
    justify-items: space-around;
    align-items: center;
}

.skills, .interests{
    padding: 30px 25px;
    margin-bottom: 1rem;
}