<div class="cv">
    <div class="skills">
        <div class="skill__html">
            <circle-progress [value]="90"></circle-progress>
        </div>
        <div class="skill__css">
            <circle-progress [value]="85"></circle-progress>
        </div>
        <div class="skill__js">
            <circle-progress [value]="80"></circle-progress>
        </div>
        <div class="skill__angular">
            <circle-progress [value]="80"></circle-progress>
        </div>
    </div>
</div>

<a href=""><i class="fab fa-java"></i></a>
<a href=""><i class="fab fa-node"></i></a>
<a href=""><i class="fab fa-angular"></i></a>
<a href=""><i class="fab fa-js-square"></i></a>
<a href=""><i class="fab fa-css3-alt"></i></a>
<a href=""><i class="fab fa-html5"></i></a>
