<div class="cv">
    <div class="skills">
        <div class="skill__html">
            <svg class="progress-ring" width="120" height="120">
                <circle
                    stroke="white"
                    stroke-width="4"
                    fill="transparent"
                    r="52"
                    cx="60"
                    cy="60"
                />
                <circle
                    id="bar"
                    class="progress-ring__circle"
                    stroke-width="4"
                    fill="transparent"
                    r="52"
                    cx="60"
                    cy="60"
                />
            </svg>
        </div>
        <div class="skill__css">
            <svg class="progress-ring" width="120" height="120">
                <circle
                    stroke="white"
                    stroke-width="4"
                    fill="transparent"
                    r="52"
                    cx="60"
                    cy="60"
                />
                <circle
                    id="bar"
                    class="progress-ring__circle"
                    stroke-width="4"
                    fill="transparent"
                    r="52"
                    cx="60"
                    cy="60"
                />
            </svg>
        </div>
        <div class="skill__js">
            <svg class="progress-ring" width="120" height="120">
                <circle
                    stroke="white"
                    stroke-width="4"
                    fill="transparent"
                    r="52"
                    cx="60"
                    cy="60"
                />
                <circle
                    id="bar"
                    class="progress-ring__circle"
                    stroke-width="4"
                    fill="transparent"
                    r="52"
                    cx="60"
                    cy="60"
                />
            </svg>
        </div>
    </div>
</div>
