@import "abstracts/_variables";

#bar {
    stroke: $color-third;
}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    // axis compensation
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
