
#timeline {
    margin-top: -3rem;
    margin-left: -3rem;
    width: 97%;
    display: flex;
    background-color: var(--color-primary);
    height: 50%;
}

.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    // min-height: 600px;
    min-height: 500px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
    
    &:before, &:after {
        transform: translate3d(0, 0, 0);
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
    }

    &:after {
        background-color: transparentize(#222831, 0.15);
        opacity: 1;
        transition: opacity 0.5s ease;
    }
    &--secondary:after{
        background-color: transparentize(#121519, 0.15);
    }
    &--third:after{
        background-color: transparentize(#30475e, 0.15);
    }
    &--fourth:after{
        background-color: transparentize(#f05454, 0.15);
    }

    &:before {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 75%);
        z-index: 1;
        opacity: 0;
        transform: translate3d(0, 0, 0) translateY(50%);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    &:hover {
        width: 32%;
        &:after {
            opacity: 0;
        }
        &:before {
            opacity: 1;
            transform: translate3d(0, 0, 0) translateY(0);
            transition: opacity 1s ease, transform 1s ease 0.25s;
        }
        .tl-content {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.75s ease 0.5s;
        }
        .tl-bg {
            filter: grayscale(0);
        }
    }
    
}

.tl-content {
    transform: translate3d(0, 0, 0) translateY(45px);
    position: relative;
    z-index: 1;
    text-align: center;
    // margin: 0 1.618em;
    margin: 0 1.4em;
    top: 35%;
    opacity: 0;
    
    h1 {
        font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        color: #1779cf;
        font-size: 1.44rem;
        font-weight: normal;
    }
}

.tl-year {
    position: absolute;
    // top: 50%;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    z-index: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    
    p {
        // font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 1.728rem;
        line-height: 0;
    }
}

.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}