@import "abstracts/_variables";

.home {
    display: flex;
    align-items: center;
    &__img {
        height: 100vh;
        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .desc {
        display: flex;
        flex-direction: column;

        &__name {
            text-transform: uppercase;
            background: linear-gradient(
                to right,
                $color-white 0%,
                $color-primary 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font: {
                size: $t1 * 3;
            }
            margin-top: -5.4rem;
            margin-left: 7rem;
        }

        &__text-1 {
            text-transform: none;
            margin-left: 3rem;
            background: linear-gradient(
                to right,
                $color-secondary 0%,
                $color-third 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font: {
                size: $t2 * 1.5;
                weight: 400;
            }
        }

        &__text-2 {
            background: linear-gradient(
                to right,
                $color-third 0%,
                $color-white 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font: {
                size: $t3 * 2;
                weight: 500;
            }
            -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
            text-orientation: sideways;
            margin-top: -7rem;
            margin-left: 17rem;
        }

        &__profession {
            background: linear-gradient(
                to right,
                $color-secondary 0%,
                $color-white 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font: {
                size: $t4 * 2;
                weight: 500;
            }
            span {
                font: {
                    size: $t3 * 4;
                    weight: 600;
                }
            }
            margin-top: -7.5rem;
            margin-left: 21rem;
        }
    }
}
