<div class="works fadeinleft" *ngIf="info.length > 0">
    <header class="header">
        <div class="header__left">
            <span>Trabajos</span>
        </div>
        <div class="header__right">
            <p>Thu, 14 Jun | 16:20</p>
            <!-- <p>{{ hoy | date: "medium" }}</p> -->
        </div>
    </header>

    <nav class="nav">
        <ul class="nav__menu pointer">
            <ng-container *ngFor="let work of info[0].works">
                <li class="nav__item">
                    <a class="nav__link" data-scroll-to>
                        <div class="media">
                            <img
                                [src]="work.imgPerfil"
                                [alt]="work.title"
                                class="media__img"
                            />
                            <p class="media__content min-text">
                                <strong>{{ work.title }}</strong
                                ><br />
                                {{ work.ref }}
                            </p>
                        </div>
                    </a>
                </li>
            </ng-container>
        </ul>
    </nav>
    <main class="main">
        <ng-container *ngFor="let work of info[0].works">
            <article class="section" id="vienna" data-section>
                <header
                    class="section__header"
                    style="
                        background-image: url('https://lonelyplanetimages.imgix.net/mastheads/stock-photo-st-stephens-church-112868985.jpg?sharp=10&w=2000');
                    "
                >
                    <h2 class="section__title">{{ work.title }}</h2>
                    <p class="section__subtitle">{{ work.content }}</p>
                    <div class="section__controls">
                        <button class="btn btn--prev" title="Previous">
                            <span class="arrow arrow--left"></span>
                        </button>
                        <button class="btn btn--next" title="Next">
                            <span class="arrow arrow--right"></span>
                        </button>
                        <div class="user">
                            <img
                                [src]="work.users[0].img"
                                class="user__img"
                                alt=""
                            />
                            <span class="user__name">Jamie</span>
                        </div>
                    </div>
                </header>
                <div class="section__content">
                    <ul class="boxgrid">
                        <li class="boxgrid__item">
                            <a class="box box--weather">
                                <p>
                                    <span class="text--large">{{
                                        work.fronted
                                    }}</span
                                    ><br />{{ work.backend }}
                                </p>
                            </a>
                        </li>
                        <li class="boxgrid__item boxgrid__item--wide">
                            <a
                                (click)="openModal(work.imgs[0], 'imagen')"
                                class="box box--image"
                            >
                                <img
                                    [src]="work.imgs[0]"
                                    class="box__img"
                                    [alt]="work.title"
                                />
                            </a>
                        </li>
                        <li class="boxgrid__item boxgrid__item--push">
                            <a
                                (click)="openModal(work.imgs[1], 'imagen')"
                                class="box box--image"
                            >
                                <img
                                    [src]="work.imgs[1]"
                                    class="box__img"
                                    [alt]="work.title"
                                />
                            </a>
                        </li>
                        <li class="boxgrid__item">
                            <a class="box box--cost">
                                <p>
                                    <span class="text--large"
                                        >{{ work.price }}€</span
                                    ><br />{{ work.pricetext }}
                                </p>
                            </a>
                        </li>
                        <li class="boxgrid__item boxgrid__item--push">
                            <a
                                (click)="openModal(work.video, 'video')"
                                class="box box--video"
                            >
                                <img
                                    [src]="work.video"
                                    class="box__img"
                                    [alt]="work.title"
                                />
                            </a>
                        </li>
                        <li class="boxgrid__item">
                            <a class="box box--locations">
                                <p>
                                    <span class="text--large">{{
                                        work.usersn
                                    }}</span
                                    ><br />Usuarios
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        </ng-container>
    </main>
</div>

<!-- video modal -->
<div class="vmodal">
    <div class="vmodal__icons">
        <a class="cerrar" (click)="closeModal()">&#8592;</a>
        <a class="cerrar" (click)="closeModal()">X</a>
    </div>
    <ng-container *ngIf="!isVideo">
        <img [src]="srcModal" alt="imagenModal" />
    </ng-container>
    <ng-container *ngIf="isVideo">
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/NI5p6W--73A"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
    </ng-container>
</div>
