@import "abstracts/_variables";
@import "layout/_works";

// // ============= MAIN LAYOUT ==============

img {
    object-fit: cover;
    object-position: center;
}

.works {
    display: grid;
    // grid-template-rows: $header-height 1fr $footer-height;
    // grid-template-columns: $nav-width 1fr;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header,
.footer {
    font-size: $t5;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-white;
}

.header {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
    padding: 0 $default-spacing;
    border-bottom: 1px solid rgba($color-white, 0.1);

    &__left,
    &__right {
        display: flex;
        align-items: center;
    }
}

.main {
    grid-column: 1 / -1;
    padding: $default-spacing;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    perspective: 1px;

    scroll-snap-type: block proximity;
    scroll-snap-destination: 0% 100%;
    scroll-snap-points-y: repeat(100%);

    @media screen and (min-width: 1024px) {
        grid-column: 2 / -1;
    }
}

.footer {
    display: flex;
    align-items: center;
    grid-column: 1 / -1;
    padding: 0 $default-spacing;
    border-top: 1px solid rgba($color-white, 0.1);

    p {
        margin-right: 1rem;
    }

    a {
        color: $color-white;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &__more {
        display: none;
        margin-left: auto;
        margin-right: 0;

        @media screen and (min-width: 768px) {
            display: block;
        }
    }
}

// ============= PAGE SECTIONS ==============

.section {
    min-height: $section-height;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    padding-top: ($section-height / 2) + 50;
    margin-bottom: $section-height / 2;
    position: relative;
    transform-style: preserve-3d;
    scroll-snap-align: start;

    &__header {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        height: 500px;
        padding: $default-spacing;
        border-radius: $border-radius;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.5) 100%
            );
        }
    }
    &__title {
        font-size: $t1;
        font-weight: 600;
        color: $color-white;
        margin-bottom: 0.5rem;
        line-height: 1;
    }
    &__subtitle {
        font-size: $t5;
        font-weight: 400;
        color: $color-white;
        margin-left: 0.05rem;
    }
    &__team {
        display: flex;
        align-items: center;
        position: absolute;
        padding: 0 $default-spacing;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }
    &__content {
        position: relative;
        z-index: 1;
        padding: 0 $default-spacing / 2;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: $section-height * 1.5;

        &__header {
            transform: translateZ(-1px) scale(1.9);
        }
        &__content {
            padding: 0;
            transform: translateZ(0);
        }
    }
}

// ============= CONTENT BOX GRID ==============

.boxgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 2rem 0.5rem;

    &__item {
        display: flex;

        &--wide {
            grid-column: span 2;
        }
        &--push {
            @media screen and (min-width: 1280px) {
                grid-column: span 3;
                padding-left: 50%;
            }
        }
    }
}

// ============= CONTENT BOX ==============

.box {
    display: flex;
    cursor: pointer;
    flex: 1 0 0;
    position: relative;
    padding: $default-spacing;
    border-radius: $border-radius;
    font-size: 0.875rem;
    color: $color-white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    transform: scale(1);
    transition: all 0.25s ease;
    filter: brightness(100%);

    &:hover,
    &:focus {
        transform: scale(1.07);
        filter: brightness(110%);
        z-index: 10;
    }

    &--weather {
        background-color: $color-primary;
        padding: 1rem;
    }
    &--cost {
        background-color: $color-secondary;
    }
    &--locations {
        background-color: $color-third;
    }
    &--image,
    &--video {
        padding: 0;
    }
    &--video {
        // fake a video play button
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;
            transform: translate(-50%, -50%);
        }
        &::before {
            width: 50px;
            height: 50px;
            background-color: $color-white;
            border-radius: 50%;
            box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
        }
        &::after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 15px;
            border-color: transparent transparent transparent $color-primary;
            margin-left: 2px;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;

        border-radius: $border-radius;
    }
}

// ============= TOP/BOTTOM SCROLL CONTROLS ==============

.scrollctrl {
    display: none;
    justify-content: center;
    width: 50vw;
    height: 50vw;
    padding: 0;
    position: fixed;
    border-radius: 50%;
    border: 1px solid rgba($color-white, 0.1);
    color: rgba($color-white, 0.7);
    background-color: transparent;
    left: 50%;
    margin-left: -25%;

    &:hover,
    &:focus {
        background-color: rgba($color-white, 0.035);
    }

    &--prev {
        top: 0;
        padding-top: 44%;
        align-items: flex-end;
        transform: translateY(-42vw);
    }
    &--next {
        bottom: 0;
        padding-bottom: 44%;
        transform: translateY(42vw);
    }

    @media screen and (min-width: 1024px) {
        display: flex;
    }
}

// ============= MISC UTILITIES ==============

.text--large {
    font-size: $t3;
    font-weight: 400;
}

.arrow {
    display: inline-block;
    padding: 3px;
    border-style: solid;
    border-width: 0 2px 2px 0;

    &--large {
        padding: 8px;
        border-width: 0 1px 1px 0;
    }
    &--right {
        transform: rotate(-45deg);
    }

    &--left {
        transform: rotate(135deg);
    }

    &--up {
        transform: rotate(-135deg);
    }

    &--down {
        transform: rotate(45deg);
    }
}

.media {
    display: flex;
    align-items: center;
    padding: $default-spacing;

    &__img {
        width: 60px;
        height: 60px;
        margin-right: $default-spacing / 2;
        border-radius: $border-radius / 2;
        object-position: center center;
    }
    &__content {
        margin: 0;
        color: $color-white;
    }
}

.ceo {
    margin-left: auto;
    text-align: center;
    padding-top: 2rem;

    &__name {
        display: block;
        font-size: $t4;
        font-weight: 700;
        color: $color-white;
    }

    &__img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 0.5rem;
        box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
    }
}

.team {
    display: flex;
    flex: 0 0 50px;
    justify-content: center;
    align-items: center;
    .ceo {
        text-align: center;
        &__name {
            display: block;
            font-size: $t5;
            font-weight: 500;
            color: $color-white;
        }

        &__img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-bottom: 0.2rem;
            box-shadow: 0 0 38px rgba(0, 0, 0, 0.3);
        }
    }
}

.min-text {
    color: $color-white;
    font-size: $t5;
    strong {
        font-size: $t2;
    }
}

/* Video Modal - Theater Mode
-------------------------------------------------------------------------------*/
.vmodal {
    background-color: $color-dark;
    color: $color-white;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}

.vmodal-active {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    animation: fadeInUp ease-in-out 0.4s;
}

.vmodal__icons {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    width: 100%;
    padding-bottom: 1rem;
    color: $color-white;
    font-size: 0.8em;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
