@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

:root{
  --color-primary: #222831;
  --color-secondary: #dddddd;
  --color-third: #30475e;
  --color-fourth: #f05454;
  --complementary-green: #2EB39F;
  --complementary-purple: #4F5EFF;
  --white: #fff;
  --dark: #121519;
  --gray: #a0a0a0;
  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.383);
  --base-font: 16px;
  --scale: 1.2;
  --border-radius: .3rem;

  --t5: calc(var(--base-font) * var(--scale));
  --t4: calc(var(--scale) * var(--t5));
  --t3: calc(var(--scale) * var(--t4));
  --t2: calc(var(--scale) * var(--t3));
  --t1: calc(var(--scale) * var(--t2));
  
  --t7: calc(var(--base-font) / var(--scale));
}

html, body, .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
    -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
    -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
    -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);  
    color: var(--white);
    overflow: hidden; 
}

* {
  font-family: 'Montserrat', sans-serif;
}

ol, ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

li, a {
  text-decoration: none;
  color: var(--color-text-primary)
}

li:active,li:focus, a:active,a:focus{
  outline: 0;
}

.router-link-active{
  color: var(--color-white);
}

.overx{
  overflow-x: hidden;
}

p {
  margin: 1rem 0;
}

.page {
    position: absolute;
}

.pointer {
  cursor: pointer;
}

$bp: (
    m: 640px,
    l: 1024px
);

@for $i from 1 to 8 {
    .t#{$i} {
        font-size: var(--t#{$i+1});
    }
}

@for $i from 1 to 8 {
    .t#{$i}--thin {
        font-weight: 100;
    }
}

@for $i from 1 to 8 {
    .t#{$i}--el {
        font-weight: 200;
    }
}

@for $i from 1 to 8 {
    .t#{$i}--l {
        font-weight: 300;
    }
}

@for $i from 1 to 8 {
    .t#{$i}--r {
        font-weight: 400;
    }
}

@for $i from 1 to 8 {
    .t#{$i}--m {
        font-weight: 500;
    }
}

@for $i from 1 to 8 {
    .t#{$i}--sb {
        font-weight: 600;
    }
}

@for $i from 1 to 8 {
    .t#{$i}--b {
        font-weight: 700;
    }
}

@for $i from 1 to 8 {
    .t#{$i}--eb {
        font-weight: 800;
    }
}

@for $i from 1 to 8 {
    .t#{$i}--black {
        font-weight: 900;
    }
}

@media screen and (min-width: map-get($bp, m)){
    @for $i from 1 to 8 {
        .t#{$i} {
            font-size: var(--t#{$i});
        }
    }
}