@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@import "vendors/_normalize";
@import "base/_base";
@import "base/_typography";
@import "abstracts/_variables";

body {
    font-family: "Quicksand", sans-serif;
    font-size: $t6;
    font-weight: $base-weight;
}
